<mat-toolbar class="header">
    <span><img src="/assets/images/logo.jpg" height=70 width=72 alt="HORUS OFFICIAL STORE"></span>

    <mat-list-item><a class="header-text" mat-button>ХУДИ</a></mat-list-item>
    <mat-list-item><a class="header-text" mat-button>СВИТШОТЫ</a></mat-list-item>
    <mat-list-item><a class="header-text" mat-button>ПОСТЕРЫ</a></mat-list-item>
    <mat-list-item><a class="header-text" mat-button>АКСЕССУАРЫ</a></mat-list-item>
    <mat-list-item><a class="header-text" mat-button>НАБОРЫ</a></mat-list-item>
</mat-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <div style="text-align:center"><h1>HORUS OFFICIAL STORE</h1></div>
  <div fxFlex fxFlex.gt-sm="20%">
   <!--  <img src="/assets/images/logo.jpg" height=200 width=200 alt="Logo"> -->
  </div>
  <div fxFlex></div>
</div>
