<mat-toolbar class="header">
  <span
  ><img
    class="image"
    src="/assets/images/logo.jpg"
    height="70"
    width="72"
    alt="1613shop"/></span>
  <a mat-button routerLink="/t-shirts" routerLinkActive='active' class="header-text"> ФУТБОЛКИ</a>
  <a mat-button routerLink="/hoody" routerLinkActive='active' class="header-text"> ХУДИ</a>
  <a mat-button routerLink="/sweatshirts" routerLinkActive='active' class="header-text"> СВИТШОТЫ</a>
  <a mat-button routerLink="/posters" routerLinkActive='active' class="header-text">ПОСТЕРЫ</a>
  <a mat-button routerLink="/accessories" routerLinkActive='active' class="header-text"> АКССЕСУАРЫ</a>
  <a mat-button routerLink="/sets" routerLinkActive='active' class="header-text"> НАБОРЫ</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/contact" routerLinkActive='active' class="header-text"> Контакты</a>
  <a mat-button class="login" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Войти</a>
</mat-toolbar>


<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="row"
     fxLayout.xs="row"
     fxLayoutAlign.xs=" center"
     fxLayoutAlign.sm="center"
     fxLayoutAlign.gt-sm="center"
>

  <div>
    <h1 class="center">HORUS OFFICIAL STORE</h1>
  </div>
</div>