$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0 auto;
  padding: $pad-up-down $pad-left-right;
}

.footer {
  background-color: #c7c7c7;
  @include zero-margin(20px, 0px);
}

.btn-facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
}

.btn-instagram {
  color: #fff !important;
  background-color: #d6249f !important;
  margin-right:10px;
}
.btn-twitter {
    color: #fff !important;
    background-color: #00acce !important;
    margin-right:10px;
  }
.btn-youtube {
  color: #fff !important;
  background-color: #ff0000 !important;
  margin-right:10px;
}

.btn-linkedin {
  color: #fff !important;
  background-color: #007bb6 !important;
  margin-right:10px;
}

.btn-vk {
  color: #fff !important;
  background-color: #55acee !important;
  margin-right:10px;
}

.btn-mail {
  color: #fff !important;
  background-color: #512DA8 !important;
  margin-right:10px;
}
