<div class="container footer"
     fxLayout="row wrap"
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">
     <div fxFlex="50" fxFlex.gt-sm="90">
      <div fxLayout="row">
       
        <div fxFlex="50">
          <h4>Наш адрес</h4>
          <address style="font-size: 110%">
           ул. Донская, 14 корпус 3,офис 10,<br> Москва<br> Россия<br>
            <i class="fa fa-phone"></i>:  +7 (495) -201-438 <br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:support@1613shop.ru">support@1613shop.ru</a>
          </address>
        </div>
      </div>
    </div>
  <div fxFlex="200" fxFlex.gt-sm="200">
    <div style="text-align:center">
      <h3>HORUS В СОЦИАЛЬНЫХ СЕТЯХ</h3>
      <a mat-icon-button class="btn-twitter" href="https://twitter.com/DenLuperkal"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/luperkal/"><i class="fa fa-instagram fa-lg"></i></a>
      <a mat-icon-button class="btn-vk" href="https://vk.com/projectmutilation"><i class="fa fa-vk fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="https://www.youtube.com/c/Horus1613"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:support@1613shop.ru"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <p>&copy; HORUS</p>
  </div>
</div>
