<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Логин"
          type="text"
          [(ngModel)]="user.username"
          name="username"
          #username="ngModel"
          required
        />
        <mat-error *ngIf="username.errors">Введите логин</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Пароль"
          type="password"
          [(ngModel)]="user.password"
          name="password"
          #password="ngModel"
          required
        />
        <mat-error *ngIf="password.errors">Введите пароль</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="user.remember" name="remember"
        >Запомнить меня
      </mat-checkbox>
    </p>
  </mat-dialog-content>
</form>
<mat-dialog-actions>
  <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close="true">Отменить</button>
     <button mat-button type="submit" class="background-primary text-floral-white"
               [disabled]="loginForm.form.invalid">Войти
      </button>
</mat-dialog-actions>
