<div class="container" fxLayout="column" fxLayoutGap="10px">
  <mat-list fxFlex>
    <mat-list-item *ngFor="let cloth of clothes">
      <img matListAvatar src={{cloth.image}} alt={{cloth.name}}>
      <h1 matLine>{{cloth.name}}</h1>
      <p matLine>
        <span>{{cloth.description}}</span>
      </p>
    </mat-list-item>
  </mat-list>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let cloth of clothes" (click)="onSelect(cloth)">
        <img height="350px" src={{cloth.image}} alt={{cloth.name}}>
        <mat-grid-tile-footer>
          <h1>{{cloth.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-cloth-detail [cloth]="selectedCloth"></app-cloth-detail>
</div>
