<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex *ngIf="clothes">
    <mat-grid-list cols="3" rowHeight="3:2">
      <mat-grid-tile
        *ngFor="let cloth of clothes"
        [routerLink]="['/cloth-detail', cloth.id]"
      >
        <img class="image" src="{{BaseURL + cloth.image}}" alt="{{ cloth.name }}" />
        <mat-grid-tile-footer>
          <h1>{{ cloth.name | uppercase }}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


<div class="spinner-center" [hidden]="clothes">
  <mat-spinner></mat-spinner>
  <h4>Загружается . . . Пожалуйста, подождите!</h4>
</div>

</div>