<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="50px"
></div>

<div fxFlex="35">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ cloth.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + cloth.image}}" alt="{{ cloth.name }}" />
    <mat-card-content>
      <p>{{ cloth.description }}</p>
      <p>{{ cloth.price }} руб.</p>
    </mat-card-content>
    <mat-card-actions>
          <button mat-button [routerLink]="['/cloth-detail', previousClothId]">
            <span class="fa fa-angle-double-left fa-3x"></span>
          </button> 
          
          <button mat-button routerLink='/home'><b>HOME</b></button>
          <button mat-button (click)="addToOrder()"><b>ДОБАВИТЬ В КОРЗИНУ</b></button>

          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/cloth-detail', nextClothId]">
            <span class="fa fa-angle-double-right fa-3x"></span>
          </button >
     </mat-card-actions>
  </mat-card>
</div>

  <div fxFlex="70" *ngIf="cloth">
    <mat-list>
      <h3>Отзывы</h3>
      <mat-list-item *ngFor="let comment of cloth.comments">
        <h4 matLine>"{{comment.comment}}"</h4>
        <p matLine>
          <span>{{comment.rating}}&#9733;</span>
        </p>
        <p matLine>
          <span>-- {{comment.author}}, {{comment.date | date: 'longDate': '+0300': 'ru'}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  
    <div fxFlex fxFlexOffset="10" class="form-size">
      <br>
      <h4>Оставьте свой отзыв</h4>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Имя" type="text">
  
            <mat-error *ngIf="commentFormErrors.author">
              {{commentFormErrors.author}}
            </mat-error>
  
          </mat-form-field>
        </p>
  
        <p>
            <ngx-star-rating style="display: flex;" formControlName="rating"></ngx-star-rating>
        </p>

  
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Ваш отзыв" rows="5"></textarea>
  
            <mat-error *ngIf="commentFormErrors.comment">
              {{commentFormErrors.comment}}
            </mat-error>
  
          </mat-form-field>
        </p>
  
        <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="commentForm.invalid">Отправить
        </button>
  
      </form>
    </div>
  
  </div>
